#box1{
    background-color: rgb(181, 103, 103);
    background-position: center;
    text-align: center;
}
.intro{
    background-color: rgb(244, 183, 183);
    text-align: center;
    height: 28px;
}

header{
    background-color: #F4A166;
    height: 50px;
    padding: 10px;
    border-radius: 10px;
}

nav ul li{
    list-style:none;
    display: inline-block;
    margin-left: 75px;
    margin-right: 75px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px; 
}
*{font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}

/* REVIEWS PAGE */
.dish_image{margin:30px 100% 30px 550px; display:inline; float:left; width:400px; padding:10px;background-color: #FEDBAF;border-style: double;}
h1{text-align: center;font-size}
.dish_text{margin-left:550px; margin-right:550px;font-size: 30px;}
.dish_name{font-size:60px;font-weight: bold;margin-left:550px;margin-top:75px;}
.cuisine_section{font-size:69px;font-weight:bold;margin-top: 100px;}