header{
    z-index:1;
    background-color: #F4A166;
    height: 60px;
    left:5px;
    right:5px;
    padding: 10px;
    border-radius: 10px;
    position:fixed;
}
nav ul li{
    list-style:none;
    display: inline-block;
    margin-left: 110px;
    margin-right: 75px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
body{
    background-image: url(241_20241109132500.png); background-attachment: fixed; background-size:cover;
}
*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.Ramen{
    top: 150px;
    left: 480px;
    background-color: white;
    display: block;
    height: 400px;
    width: 500px;
    border: rgb(189, 107, 66) 2px solid;
    border-radius: 60px;
    text-align: center;
    position: absolute;
}
.Filipino{
    top: 600px;
    left: 480px;
    background-color: white;
    display: block;
    height: 400px;
    width: 500px;
    border: rgb(189, 107, 66) 2px solid;
    border-radius: 60px;
    text-align: center;
    position: absolute;
}
.Fusion{
    top: 1050px;
    left: 480px;
    background-color: white;
    display: block;
    height: 400px;
    width: 500px;
    border: rgb(189, 107, 66) 2px solid;
    border-radius: 60px;
    text-align: center;
    position: absolute;
}
.Ocean{
    top: 1500px;
    left: 480px;
    background-color: white;
    display: block;
    height: 400px;
    width: 500px;
    border: rgb(189, 107, 66) 2px solid;
    border-radius: 60px;
    text-align: center;
    position: absolute;
}
.Oleandr{
    top: 1950px;
    left: 480px;
    background-color: white;
    display: block;
    height: 400px;
    width: 500px;
    border: rgb(189, 107, 66) 2px solid;
    border-radius: 60px;
    text-align: center;
    position: absolute;
}
.footer{z-index:-1; margin-top:150px; width:100%; padding-top: 75px; padding-bottom: 45px;left:0; background:#413931; color:#efefef; position:absolute; top:2250px;
    display:flex; flex-direction:row;justify-content:space-evenly;}
    
    .division1{display:inline-block; width:200px;text-align:center;}
    .division2{display:inline-block; width:200px;text-align:center;}
    .division3{display:inline-block;width:200px;text-align:center;}
    
    h3{font-weight:300;margin-bottom:30px;}
    .division1 a{display:block; text-decoration:none; color:#fff;margin-bottom:10px;}
    .for-us-to-review{width:200px;height:75px;border-radius:10px;text-align:center;margin-bottom:25px;outline:none;border:none;}
    .email{width:175px;height:20px;border-radius:6px;text-align:center;margin-bottom:20px;outline:none;border:none;}
    form button{background:transparent; border: 2px solid #fff; color: #fff;border-radius:30px;padding:10px 30px; font-size:15px;}
    form button:hover{background-color:#fff; color:#413931;}
    .social-media-icons-footer{margin-top:45px;}